In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('Titanic-Dataset.csv')

In [10]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
type(df['PassengerId'])

pandas.core.series.Series

In [36]:
d = {'a':1,'b':2,2:'test'}

In [32]:
d

{'a': 1, 'b': 2, 2: 'test'}

In [26]:
type(d)

dict

In [118]:
d.items()

dict_items([('a', 1), ('b', 2), (2, 'test')])

In [44]:
for key,value in d.items(): 
    print (key,value)

a 1
b 2
2 test

In [ ]:
create a list with the table of 7 untill 200 in a list - eg - [7,14,21,28,....]
now using list comprehension divide all the values by 7 and prnt the list

In [ ]:
Keep the values which are divisible by 3 or 4 in the list - 
to be done using list comprehension

In [58]:
[i/7 for i in list(range(7,200,7)) if i % 3 == 0 or i % 4 == 0]

[3.0, 4.0, 6.0, 8.0, 9.0, 12.0, 15.0, 16.0, 18.0, 20.0, 21.0, 24.0, 27.0, 28.0]

In [86]:
'''
2d list
'''
dim_1_1 = [1,5,6,7,7,22,3,21,2,34]
dim_1_2 = [2,4,56,6,63,2,1,35,66]
dim_2 = [dim_1_1,dim_1_2,dim_1_1 ]

In [88]:
dim_2

[[1, 5, 6, 7, 7, 22, 3, 21, 2, 34],
 [2, 4, 56, 6, 63, 2, 1, 35, 66],
 [1, 5, 6, 7, 7, 22, 3, 21, 2, 34]]

In [70]:
t = dim_2[1]

In [72]:
t[4]

63

In [76]:
dim_2[1][4]

63

In [ ]:
-From the 2-d list create a 1d list with all the even positioned elements
Step 1- loop over all the elements
Step 2  -  write a condition to check for the positional vlaues are even or not

In [90]:
dim_2[0],dim_2[1],dim_2[2]

([1, 5, 6, 7, 7, 22, 3, 21, 2, 34],
 [2, 4, 56, 6, 63, 2, 1, 35, 66],
 [1, 5, 6, 7, 7, 22, 3, 21, 2, 34])

In [100]:
result = []
for i in range(len(dim_2)):
    print (i)
    print (dim_2[i])
    for j in range(len(dim_2[i])):
        print (j,"  ",dim_2[i][j] )
        if j % 2 == 0:
            result.append(dim_2[i][j])

0
[1, 5, 6, 7, 7, 22, 3, 21, 2, 34]
0    1
1    5
2    6
3    7
4    7
5    22
6    3
7    21
8    2
9    34
1
[2, 4, 56, 6, 63, 2, 1, 35, 66]
0    2
1    4
2    56
3    6
4    63
5    2
6    1
7    35
8    66
2
[1, 5, 6, 7, 7, 22, 3, 21, 2, 34]
0    1
1    5
2    6
3    7
4    7
5    22
6    3
7    21
8    2
9    34

In [102]:
result

[1, 6, 7, 3, 2, 2, 56, 63, 1, 66, 1, 6, 7, 3, 2]

In [114]:
num_idx = ['one','two','three','four']
num_val = [1,2,3,4]
num_val2 = [2,2,3,3]

In [116]:
tuple(zip(num_idx,num_val,num_val2))

(('one', 1, 2), ('two', 2, 2), ('three', 3, 3), ('four', 4, 3))

In [124]:
# SElect the 2-4th element from the list
dim_1_1

[1, 5, 6, 7, 7, 22, 3, 21, 2, 34]

In [126]:
dim_1_1[2:5]

[6, 7, 7]

In [130]:
# to reverse the list
dim_1_1[:-1]

[1, 5, 6, 7, 7, 22, 3, 21, 2]

In [136]:
# find out the elements from the 2 -  3rd last element

dim_1_1[2:-2] # -2 since the :right value is exclusive(i.e - right_vaue - 1 - (-3-1))

[6, 7, 7, 22, 3, 21]

In [140]:
# pandas slicing

# row based slicing

df[2:-3]


# column based slicing
cols_to_select = ['PassengerId','Survived','Pclass']
df[cols_to_select]

     PassengerId  Survived  Pclass
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

[891 rows x 3 columns]

In [146]:
df.shape

(891, 12)

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [148]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
if mean == median ??
    skewed