# Pandas Practice Questions

Run the cell below to import pandas before starting.

In [ ]:
import pandas as pd
import numpy as np

## TOPIC 1: BASICS & INSPECTION

**1. How do you load a CSV file named 'data.csv' into a Pandas DataFrame?**

**2. How can you display the first 5 rows and the last 5 rows of a DataFrame?**

**3. What is the difference between `df.info()` and `df.describe()`?**

**4. How do you check the data types of all columns in a DataFrame?**

**5. How do you find the shape (number of rows and columns) of a DataFrame?**

## TOPIC 2: SELECTION & INDEXING

**6. Explain the difference between `.loc[]` and `.iloc[]`.**

**7. How do you select a specific column named 'Age' from a DataFrame?**

**8. How would you filter a DataFrame to show only rows where the 'Salary' column is greater than 50,000?**

**9. How do you select multiple columns (e.g., 'Name' and 'Age') at once?**

**10. How do you filter rows based on multiple conditions? (e.g., 'Age' > 30 AND 'Department' == 'Sales')**

## TOPIC 3: DATA CLEANING

**11. How do you check for null (missing) values in each column?**

**12. How do you fill missing values in the 'Age' column with the mean age?**

**13. How do you drop rows that contain any missing values?**

**14. How do you check for and remove duplicate rows?**

**15. How do you rename a column from 'emp_id' to 'EmployeeID'?**

## TOPIC 4: MANIPULATION

**16. How do you add a new column 'Bonus' that is 10% of the 'Salary' column?**

**17. How do you drop a column named 'Temporary' from the DataFrame?**

**18. How do you sort a DataFrame by 'Date' in descending order?**

**19. How do you apply a custom function to every element in a column using `.apply()`?**

**20. How do you convert a column 'Date' (currently string) into a datetime object?**

## TOPIC 5: AGGREGATION

**21. How do you calculate the average 'Salary' for each 'Department' using `groupby`?**

**22. How can you get multiple statistics (mean, min, max) for a group at once?**

**23. Create a pivot table showing mean Salary for each Department broken down by JobTitle.**

**24. How do you count the number of unique values in the 'City' column?**

## TOPIC 6: MERGING

**25. How do you concatenate two DataFrames vertically (stacking them)?**

**26. How do you merge two DataFrames (`df1` and `df2`) on a common key 'ID'?**

**27. What is the difference between an inner join and a left join?**

## TOPIC 7: TIME SERIES

**28. How do you set the 'Date' column as the index of the DataFrame?**

**29. If you have a datetime index, how do you resample the data to find the monthly average?**

**30. How do you optimize memory by converting a string column to 'category' type?**